<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
    <title>car sales</title>
</head>
<body>
<div class="container-fluid">
    <header th:insert="blocks/header :: header"></header>
    <div class="row justify-content-center">
        <div class="row w-75 justify-content-center">
            <h2 class="text-dark">Машины в продаже</h2>
        </div>

        <div class="container-fluid row border border-dark mt-3 rounded" style="width: 60%; padding: 2px;"
             th:each="post: ${posts}">
            <div class="col-4">
                <img class="img-fluid rounded" th:if="${post.file != null}"
                     th:src="@{/files/{path}(path=${post.file.id})}" alt="My_img">
                <img class="img-fluid rounded" th:if="${post.file == null}"
                     src="img/vector-33.jpg" alt="My_img">
            </div>
            <div class="col-8">
                <div class="row" style="padding-left: 10px;">
                    <h6 class="text-dark col" th:text="${post.car.brand} + '/' + ${post.car.model} + '   ' +
                     ${post.car.volume} + 'л/' + ${post.car.power} + 'л.с./' + ${post.car.fuel}"></h6>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>